<footer class="footer">
    <div class=" footer-content" style="background-color: rgba(0, 0, 0, 0.2);">
        Site criado por:
        <a href="https://augustohs.herokuapp.com/">Augusto HS</a>
    </div>
</footer>