<% layout('layout/boilerplate') %>
    <h1 style="font-size: 2rem; display: none;">Contatos</h1>
    <div class="contatosDiv">
        <div class="contatosMapaDiv">
            <div class="contatosMapaText">
                <h3>Faça-nos uma Visita</h3>
                <p>
                <div class="contatosItem"><a class="contatoshover" href="https://goo.gl/maps/8PNyJhv3UWHNsJE76">Rua
                        Manoel
                        Inácio de Souza, 208 - Sala 2</a>
                </div>
                </p>
                <p>Centro. Ao lado do Colégio Bionatos.</p>
            </div>
            <div class="contatosMapa"></div>

        </div>
        <div class="contatosContatosDiv">
            <div class="contatosItem">
                <h3>Facebook</h3>
                <a class="contatoshover" href="https://www.facebook.com/antoniosergio.goncalvespereira.5">Grupo no
                    facebook</a>
            </div>
            <div class="contatosItem">
                <h3>Email</h3>
                <a class="contatoshover" href="mailto:psiantoniosergio.psi@gmail.com">psiantoniosergio.psi@gmail.com</a>
            </div>
            <div class="contatosItem">
                <h3>WhatsApp</h3>
                <a class="contatoshover" href="https://wa.me/556799608444?text=Eu%20quero%20agendar%20uma%20consulta">Vá
                    para WhatsApp do Antonio</a>
            </div>
            <div class="contatosItem">
                <h3>Ligue agora</h3>
                <a class="contatoshover" href="tel:67999608444">(67) 99960-8444</a>
            </div>
        </div>
    </div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEzIjJmLXZLHLlbFvHd8D11jPyzOUokW0&callback=initMap&v=weekly"
        async></script>