<% layout('layout/boilerplate') %>

    <header class="headerArticle">
        <div class="headerbackground" id="depressaoHeader">
            <div class="headerSmallTitle">Transtorno depressivo</div>
            <div class="headerMainTitle">
                <h1 style="font-size: 2rem;">Características comuns de Transtornos Depressivos (Depressão)</h1>
            </div>
        </div>
    </header>

    <div class="articleDivider"></div>

    <main class="mainArticle">
        <div class="part2Colums">
            <div class="sideLeft">
                <p>
                    A característica comum desses transtornos é a presença de humor triste, vazio ou irritável,
                    acompanhado
                    de alterações somáticas e cognitivas que afetam significativamente a capacidade de funcionamento do
                    indivíduo.
                </p>
                <ol>
                    <li>humor deprimido ou</li>
                    <li>perda de interesse ou prazer</li>
                </ol>
                <span class="smallText">
                    Transtorno Depressivo Maior 161,<br>
                    Nota: Não incluir sintomas nitidamente devidos a outra condição médica.
                </span>
            </div>
            <div class="sideRight">
                <h3>Quais os Transtornos depressivos?</h3>
                <ul>
                    <li>Transtorno disruptivo da desregulação do humor</li>
                    <li>Transtorno depressivo maior (incluindo episódio depressivo maior)</li>
                    <li>Transtorno depressivo persistente (distimia)</li>
                    <li>Transtorno disfórico pré-menstrual</li>
                    <li>Transtorno depressivo induzido por substância/medicamento</li>
                    <li>Transtorno depressivo devido a outra condição médica</li>
                </ul>
            </div>
        </div>
        <div class="articleDivider"></div>
        <div class="partList">
            <h2 class="partListTitle">Sintomas</h2>
            <div class="itemLista">
                <div class="itemNumero">1</div>
                <div class="itemTexto">
                    <h5 class="itemTextoTitulo">Humor deprimido</h5>
                    <div class="itemTextoDescricao">
                        Humor deprimido na maior parte do dia, quase todos os dias, conforme indicado por relato
                        subjetivo (p. ex., sente-se triste, vazio, sem esperança) ou por observação feita por outras
                        pessoas (p. ex., parece choroso).
                        (Nota: Em crianças e adolescentes, pode ser humor irritável.)
                    </div>
                </div>
            </div>
            <div class="itemLista">
                <div class="itemNumero">2</div>
                <div class="itemTexto">
                    <h5 class="itemTextoTitulo">Diminuição do interesse ou prazer</h5>
                    <div class="itemTextoDescricao">
                        Acentuada diminuição do interesse ou prazer em todas ou quase todas as atividades na
                        maior parte do dia, quase todos os dias (indicada por relato subjetivo ou observação feita por
                        outras pessoas).
                    </div>
                </div>
            </div>
            <div class="itemLista">
                <div class="itemNumero">3</div>
                <div class="itemTexto">
                    <h5 class="itemTextoTitulo">Perda ou ganho significativo de peso</h5>
                    <div class="itemTextoDescricao">
                        Perda ou ganho significativo de peso sem estar fazendo dieta (p. ex., uma alteração de mais
                        de 5% do peso corporal em um mês), ou redução ou aumento do apetite quase todos os
                        dias.
                        (Nota: Em crianças, considerar o insucesso em obter o ganho de peso esperado.)
                    </div>
                </div>
            </div>
            <div class="itemLista">
                <div class="itemNumero">4</div>
                <div class="itemTexto">
                    <h5 class="itemTextoTitulo">Insônia ou hipersonia</h5>
                    <div class="itemTextoDescricao">
                        Insônia ou hipersonia quase todos os dias.
                    </div>
                </div>
            </div>
            <div class="itemLista">
                <div class="itemNumero">5</div>
                <div class="itemTexto">
                    <h5 class="itemTextoTitulo">Agitação ou retardo</h5>
                    <div class="itemTextoDescricao">
                        Agitação ou retardo psicomotor quase todos os dias (observáveis por outras pessoas, não
                        meramente sensações subjetivas de inquietação ou de estar mais lento).
                    </div>
                </div>
            </div>
            <div class="itemLista">
                <div class="itemNumero">6</div>
                <div class="itemTexto">
                    <h5 class="itemTextoTitulo">Fadiga</h5>
                    <div class="itemTextoDescricao">
                        Fadiga ou perda de energia quase todos os dias.
                    </div>
                </div>
            </div>
            <div class="itemLista">
                <div class="itemNumero">7</div>
                <div class="itemTexto">
                    <h5 class="itemTextoTitulo">Inutilidade ou culpa</h5>
                    <div class="itemTextoDescricao">
                        Sentimentos de inutilidade ou culpa excessiva ou inapropriada (que podem ser delirantes)
                        quase todos os dias (não meramente autorrecriminação ou culpa por estar doente).
                    </div>
                </div>
            </div>
            <div class="itemLista">
                <div class="itemNumero">8</div>
                <div class="itemTexto">
                    <h5 class="itemTextoTitulo">Capacidade diminuída para pensar ou se concentrar</h5>
                    <div class="itemTextoDescricao">
                        Capacidade diminuída para pensar ou se concentrar, ou indecisão, quase todos os dias (por
                        relato subjetivo ou observação feita por outras pessoas).
                    </div>
                </div>
            </div>
            <div class="itemLista">
                <div class="itemNumero">9</div>
                <div class="itemTexto">
                    <h5 class="itemTextoTitulo">Suicídio</h5>
                    <div class="itemTextoDescricao">
                        Pensamentos recorrentes de morte (não somente medo de morrer), ideação suicida recorrente
                        sem um plano específico, uma tentativa de suicídio ou plano específico para cometer suicídio.
                    </div>
                </div>
            </div>
        </div>
        <div class="cta-div">
            <div class="cta-content-div">
                <div class="cta-content">
                    <div class="cta">
                        <h2>Eu posso te ajudar</h2>
                        <h5>Se este texto te ajudou a esclarecer mais sobre o assunto, por que não agendar uma consulta?
                        </h5>
                        <a class="btn btn-cta cta-btn"
                            href="https://wa.me/556799608444?text=Eu%20quero%20agendar%20uma%20consulta">Agende sua
                            consulta</a>
                    </div>
                    <hr>
                    <div class="">
                        <h3>Outras formas me contatar</h3>
                        <div class="cta-contatos">
                            <div class="cta-contato-item">
                                <span>Ligue agora</span>
                                <a class="btn btn-cta cta-btn" href="tel:67999608444">
                                    (67) 9960-8444
                                </a>
                            </div>
                            <div class="cta-contato-item">
                                <span>Envie um email</span>
                                <a class="btn btn-cta cta-btn" href="mailto:psiantoniosergio.psi@gmail.com">
                                    psiantoniosergio.psi@gmail.com
                                </a>
                            </div>
                            <div class="cta-contato-item">
                                <span>Faça uma visita</span>
                                <a class="btn btn-cta cta-btn" href="https://goo.gl/maps/8PNyJhv3UWHNsJE76">
                                    Rua Manoel Inácio de Souza, 208 - Sala 2
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>