<% layout('layout/boilerplate') %>

    <header class="headerArticle">
        <div class="headerbackground" id="orentacaoProf">
            <div class="headerSmallTitle">Orientação Profissional</div>
            <div class="headerMainTitle">
                <h2>Falando sobre Orientação Profissional e por que buscá-la?</h2>
            </div>
            <div class="headerSubtitle">
                <p>
                    É fundamental que o indivíduo se conheça bem, saiba quais são suas habilidades e preferências para
                    que possa escolher uma profissão.
                </p>
            </div>
        </div>
    </header>

    <div class="articleDivider"></div>

    <main class="mainArticle">
        <div class="articleTextImg">
            <div class="articleText1">
                <p>
                    Quando pensamos em Orientação Profissional já pensamos em Teste Vocacional, no qual a pessoa
                    preenche um
                    formulário com perguntas intermináveis para saber qual minha vocaçao. Porém é algo muito além disso.
                </p>
                <p>
                    É uma área que não tem uma resposta pronta e sim possibilidades de uma escolha mais assertiva,
                    através
                    de análise e um trabalho voltado a encontros para discussões acerta de temas profissionais e outros
                    tipos de métodos.
                </p>
                <p>
                    E o Psicólogo lhe que auxilia nas decisões referente ao mundo das profissões, orientando você depois
                    de
                    um processo de profunda avaliação no qual lhe é proporcionado o autoconhecimento.
                </p>
            </div>
            <div class="articleImgDiv2">
                <div class="articleImg2"></div>
            </div>
        </div>
        <div class="articleTextImg invertOrderMobile">
            <div class="articleImgDiv1">
                <div class="articleImg1"></div>
            </div>
            <div class="articleText2">
                <h3>Orientação Profissional de um Psicologo</h3>
                <ul>
                    <li>Que Profissão Escolher?</li>
                    <li>O que Fazer ao Concluir o Ensino Médio?</li>
                    <li>Qual Área de Estudo tenho afinidade (Humanas, Exatas, Biológicas, Técnologia).</li>
                    <li>Me identifico com todos os cursos e áreas que vejo.</li>
                    <li>Meus Pais me pressionam a fazer o que eles fizeram.</li>
                    <li>Estou estudando algo que não me identifico.</li>
                    <li>Sentir que poderia ser melhor em outra área profissional</li>
                </ul>







            </div>
        </div>
    </main>