<% layout('layout/boilerplate') %>

    <header class="headerArticle">
        <div class="headerbackground" id="orentacaoProf">
            <div class="headerSmallTitle">Orientação Profissional</div>
            <div class="headerMainTitle">
                <h2>Falando sobre Orientação Profissional e por que buscá-la?</h2>
            </div>
        </div>
    </header>

    <div class="articleDivider"></div>

    <main class="mainArticle">

    </main>