<% layout('layout/boilerplate') %>

    <header class="headerArticle">
        <div class="headerbackground">
            <div class="headerSmallTitle">Transtorno depressivo</div>
            <div class="headerMainTitle">
                <h2>Características comuns de Transtornos Depressivos (Depressão)</h2>
            </div>
        </div>
    </header>