<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <title>Página Inicial</title>

    <link rel="stylesheet" href="styles/styles.css">

    <link rel="stylesheet" href="styles/bootstrap.css">
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>

    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">


    <meta name="theme-color" content="#478ac9">
</head>

<body class="u-body">
    <header class="header sticky-top">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">ANTONIO SERGIO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Página Inicial</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sobre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- ---------- BODY ---------- -->
    <main class="main">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner carousel-itens">
                <!-- PRIMEIRO ITEM DE CAROUSEL -->
                <div class="carousel-item active carousel-item-1">
                    <div class="carousel-caption carousel-item-1-content">
                        <p class="carousel-item-1-content-1">PSICÓLOGO ANTONIO SERGIO GONÇALVES PEREIRA</p>
                        <p class="carousel-item-1-content-2">CRP&nbsp;14/05690 - 9</p>
                    </div>
                </div>
                <!-- ======== ITEM DE CAROUSEL ======== -->
                <div class="carousel-item carousel-item-4">
                    <div class="col-lg-6 col-md-8 carousel-item-4-content">
                        <div class="carousel-item-4-content-1">
                            <h2>Transtonos depressivos</h2>
                            <h5>Características comuns de Transtornos Depressivos</h5>
                            <p>A característica comum desses transtornos é a presença de humor triste, vazio ou
                                irritável,
                                acompanhado de alterações somáticas e cognitivas que afetam significativamente a
                                capacidade
                                de
                                funcionamento do indivíduo.</p>
                            <ol>
                                <li>
                                    humor deprimido ou
                                </li>
                                <li>
                                    perda de interesse ou prazer.
                                </li>
                            </ol>
                            <p>Transtorno Depressivo Maior 161<br>
                                Nota: Não incluir sintomas nitidamente devidos a outra condição médica
                            </p>
                            <button class="btn btn-secondary">Continue lendo...</button>
                        </div>
                    </div>
                </div>
                <!-- ======== ITEM DE CAROUSEL ======== -->
                <div class="carousel-item carousel-item-5">
                    <div class="col-lg-6 col-md-8 carousel-item-5-content">
                        <div class="carousel-item-5-content-1">
                            <h2>Orientação Profissional e por que buscá-la?</h2>
                            <h5>É fundamental que o indivíduo se conheça bem, saiba quais são suas habilidades e
                                preferências para que possa escolher uma profissão.</h5>
                            <ul>
                                <li>Que Profissão Escolher?</li>
                                <li>O que Fazer ao Concluir o Ensino Médio?</li>
                                <li>Qual Área de Estudo tenho afinidade (Humanas, Exatas, Biológicas, Técnologia).</li>
                                <li>Me identifico com todos os cursos e áreas que vejo.</li>
                                <li class="hideMobile">Meus Pais me pressionam a fazer o que eles fizeram.</li>
                                <li class="hideMobile">Estou estudando algo que não me identifico.</li>
                                <li class="hideMobile">Sentir que poderia ser melhor em outra área profissional</li>
                            </ul>
                            <button class="btn btn-light">Continue lendo...</button>
                        </div>
                    </div>
                </div>
                <!-- ======== ITEM DE CAROUSEL ======== -->
                <div class="carousel-item carousel-item-2">
                    <div class="col-10 col-md-6 carousel-item-2-content-1">
                        <h2 class="carousel-item-2-content-1-1 col-10 offset-2"> O que esperar em sua visita?
                        </h2>
                        <p class="carousel-item-2-content-1-2 col-8 offset-3">
                            Você está vivenciando questões relacionadas a um trauma, ao sofrimento, ao
                            vício, a ansiedade ou a grandes mudanças de vida? Chega um momento em que a
                            ajuda de um profissional&nbsp;qualificado&nbsp;é necessária para lidarmos
                            com muitos dos desafios da vida.<br>Faça sua consulta com psicólogo
                            qualificado.<br>
                        </p>
                    </div>
                    <div class="col-10 col-md-6 carousel-item-2-content-2">
                        <img src="images/IMG_3008.JPG" class="col-10 carousel-item-2-content-2-1" />
                    </div>
                </div>
                <!-- ======== ITEM DE CAROUSEL ======== -->
                <div class="carousel-item carousel-item-3">
                    <div class="row carousel-item-3-content">
                        <div class="col-md-6 carousel-item-3-content-1">
                            <!-- <img class="img-fluid carousel-item-3-content-1-1" src="images/IMG_3015.JPG" alt=""> -->
                        </div>
                        <div class="col-md-6 carousel-item-3-content-2">
                            <div class="carousel-item-3-content-2-0">
                                Formação Acadêmica
                            </div>
                            <div class="carousel-item-3-content-2-1 tituloFonteMaior mobileShadow">
                                <div>Psicólogo Formado pela Uniderp/ANHANGUERA/2012</div>
                            </div>
                            <div class="carousel-item-3-content-2-2 tituloFonteMaior mobileShadow">
                                <div>Pós graduado em Psicoterapia de Orientação
                                    Psicanalítica pela UCDB/2015</div>
                            </div>
                            <div class="carousel-item-3-content-2-3 tituloFonteMaior mobileShadow">
                                <div>Pós Graduando em Terapia Cognitiva Comportamental pelo
                                    IWP. 2017/2018</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </main>

    <footer class="footer">
        <!-- Copyright -->
        <div class="text-center p-5 footer-content bg-dark text-light" style="background-color: rgba(0, 0, 0, 0.2);">
            Site criado por:
            <a href="https://augustohs.herokuapp.com/">Augusto HS</a>
        </div>
        <!-- Copyright -->
    </footer>

</body>

</html>