<% layout('layout/boilerplate') %>
    <div class="sobreMim">
        <div class="sobreMimImgDiv">
            <div class="sobreMimImg"></div>
        </div>
        <div class="sobreMimTextDiv">
            <div class="sobreMimTextTitle">
                <h2>Antonio Sergio Gonçalves Pereira</h2>
                <h5>CRP 14/05690-9</h5>
            </div>

            <div class="sobreMimTextDescricao">
                <div class="sobreMimTextItem">
                    <ul>
                        <li>Formado em Psicologia na Universidade Uniderp 2012</li>
                    </ul>
                </div>
                <div class="sobreMimTextItem">
                    <ul>
                        <li>Pós Graduado em Psicoterapia de Orientação Psicanalítica pela UCDB - Universidade Dom Bosco
                            2015
                        </li>
                    </ul>
                </div>
                <div class="sobreMimTextItem">
                    <ul>
                        <li>Pós Graduando em Terapia Cognitiva Comportamental pelo IWP- Instituto Cognitivo</li>
                    </ul>
                </div>
                <div class="sobreMimTextItem">
                    <ul>
                        <li>Pós Graduando em Terapia do Esquema pelo IWP - Instituto Cognitivo</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>