<% layout('layout/boilerplate') %>
    <div class="sobreMim">
        <div class="sobreMimImgDiv">
            <div class="sobreMimImg"></div>
        </div>
        <div class="sobreMimTextDiv">
            <div class="sobreMimTextTitle">
                <h1 style="font-size: 2rem;">Antonio Sergio Gonçalves Pereira</h1>
                <h5>CRP 14/05690-9</h5>
            </div>
            <div class="sobreMimTextDescricao">
                <div class="sobreMimTextItem">
                    <ul>
                        <li>Formado em Psicologia na Universidade Uniderp 2012</li>
                    </ul>
                </div>
                <div class="sobreMimTextItem">
                    <ul>
                        <li>Pós Graduado em Psicoterapia de Orientação Psicanalítica pela UCDB - Universidade Dom Bosco
                            2015
                        </li>
                    </ul>
                </div>
                <div class="sobreMimTextItem">
                    <ul>
                        <li>Pós Graduando em Terapia Cognitiva Comportamental pelo IWP- Instituto Cognitivo</li>
                    </ul>
                </div>
                <div class="sobreMimTextItem">
                    <ul>
                        <li>Pós Graduando em Terapia do Esquema pelo IWP - Instituto Cognitivo</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-div">
        <div class="cta-content-div">
            <div class="cta-content">
                <div class="cta">
                    <h2>Eu posso te ajudar</h2>
                    <h5>Agora que você viu que eu sou capacitado a te ajudar, por que não agendar uma consulta?
                    </h5>
                    <a class="btn btn-cta cta-btn"
                        href="https://wa.me/556799608444?text=Eu%20quero%20agendar%20uma%20consulta">Agende sua
                        consulta</a>
                </div>
                <hr>
                <div class="">
                    <h3>Outras formas me contatar</h3>
                    <div class="cta-contatos">
                        <div class="cta-contato-item">
                            <span>Ligue agora</span>
                            <a class="btn btn-cta cta-btn" href="tel:67999608444">
                                (67) 9960-8444
                            </a>
                        </div>
                        <div class="cta-contato-item">
                            <span>Envie um email</span>
                            <a class="btn btn-cta cta-btn" href="mailto:psiantoniosergio.psi@gmail.com">
                                psiantoniosergio.psi@gmail.com
                            </a>
                        </div>
                        <div class="cta-contato-item">
                            <span>Faça uma visita</span>
                            <a class="btn btn-cta cta-btn" href="https://goo.gl/maps/8PNyJhv3UWHNsJE76">
                                Rua Manoel Inácio de Souza, 208 - Sala 2
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>