<% layout('layout/boilerplate') %>
    <header class="headerArticle">
        <div class="headerbackground" id="emConstrucao">
            <div class="headerMainTitle">
                <h2>Em construção. Volte mais tarde.</h2>
            </div>
        </div>
    </header>