<% layout('layout/boilerplate') %>

    <header class="headerArticle">
        <div class="headerbackground" id="depressaoHeader">
            <div class="headerSmallTitle">Terapia Comportamental-Coginitiva</div>
            <div class="headerMainTitle">
                <h2>Existem ainda diversas abordagens que podem solucionar transtornos psicológicos. Entre elas está a
                    Terapia Cognitivo Comportamental ou TCC.</h2>
            </div>
        </div>
    </header>

    <div class="articleDivider"></div>
    <section class="article-section-text-img" id="">
        <div class="a-s-t-i-text">
            <p>
                Terapia Cognitiva é um sistema de psicoterapia, proposto e desenvolvido pelo Dr. Aaron Beck e sua
                equipe, integra um modelo cognitivo de psicopatologia e um conjunto de técnicas e estratégias
                terapêuticas baseadas diretamente nesse modelo.
            </p>
        </div>
        <div class="a-s-t-i-img">
            <div class="a-s-t-i-img-img" id="tcc1-img"></div>
        </div>
    </section>

    <section class="article-section-img-text" id="">
        <div class="a-s-i-t-img">
            <div class="a-s-i-t-img-img" id="tcc2-img"></div>
        </div>
        <div class="a-s-i-t-text">
            <h3>O Tratamento se mostra eficaz nos seguintes casos:</h3>
            <p>
            <ul>
                <li>Tratamento de Depressão</li>
                <li>Transtorno de Ansiedade Generalizada</li>
                <li>Tratar Transtorno no Pânico</li>
                <li>Tratamento de Fobia Social</li>
                <li>TOC - Transtorno Obsessivo Compulsivo</li>
                <li>Tratamento de Agressão Sexual</li>
                <li>Tratamento em Esquizofrenia</li>
                <li>Tratar Transtornos Internalizante da Infância</li>
                <li>Tratamentos do Transtorno Bipolar</li>
                <li>Tratar Transtorno do déficit de atenção com hiperatividade</li>
                <li>Tratamento Anorexia Nervosa</li>
                <li>Tratamento Bulimia</li>
                <li>Tratar Transtorno Dismorfico Corporal</li>
                <li>Tratamento Colecionismo Patologico</li>
                <li>Tratamento Jogo Patológico</li>
                <li>Tratar Transtorno de estresse pós-traumático (Crianças que sofreram Abuso)</li>
                <li>Tratamento Síndrome da Fadiga Crônica</li>
                <li>Tratamento Dor Lombar Crônica</li>
                <li>Tratar Síndrome pré-menstrual</li>
                <li>Tratamento Síndrome do Cólon irritável</li>
            </ul>
            </p>
        </div>
    </section>

    <div class="cta-div">
        <div class="cta-content-div">
            <div class="cta-content">
                <div class="cta">
                    <h2>Eu posso te ajudar</h2>
                    <h5>Se este texto te ajudou a esclarecer mais sobre o assunto, por que não agendar uma consulta?
                    </h5>
                    <a class="btn btn-cta cta-btn"
                        href="https://wa.me/556799608444?text=Eu%20quero%20agendar%20uma%20consulta">Agende sua
                        consulta</a>
                </div>
                <hr>
                <div class="">
                    <h3>Outras formas me contatar</h3>
                    <div class="cta-contatos">
                        <div class="cta-contato-item">
                            <span>Ligue agora</span>
                            <a class="btn btn-cta cta-btn" href="tel:67999608444">
                                (67) 9960-8444
                            </a>
                        </div>
                        <div class="cta-contato-item">
                            <span>Envie um email</span>
                            <a class="btn btn-cta cta-btn" href="mailto:psiantoniosergio.psi@gmail.com">
                                psiantoniosergio.psi@gmail.com
                            </a>
                        </div>
                        <div class="cta-contato-item">
                            <span>Faça uma visita</span>
                            <a class="btn btn-cta cta-btn" href="https://goo.gl/maps/8PNyJhv3UWHNsJE76">
                                Rua Manoel Inácio de Souza, 208 - Sala 2
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </main>