.headerArticle{
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerbackground{
    width: 90%;
    height: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),url('../images/depressao.jpg');
    background-size: cover;
    background-position-x: 40%;
    background-position-y: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color: white;
    text-align: center;
}
.headerMainTitle{
    margin: 1.5rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.2rem;
}
.articleDivider{
    width: 90%;
    margin-left: 5%;
    height: 3px;
    background-color: rgba(117, 117, 117, 1);
}
.mainArticle{
    margin: 1rem 0;
}
.part2Colums{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.sideLeft{
    width: 50%;
    height: max-content;
    padding-left: 5%;
    padding-right: 3px;
}
.sideRight{
    width: 50%;
    height: max-content;
    padding-right: 5%;
    padding-left: 1%;
    border-left: 3px solid rgba(117, 117, 117, 1);
}
.smallText{
    font-size: 10px;
    line-height: 5px;
}
.partList{
    width: 90%;
    margin-left: 5%;
    margin-top: 1rem;
}
.partListTitle{
    font-size: 300%;
    margin-left: 1rem;
}
.itemLista{
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}
.itemNumero{
    padding: 0 1rem;
    height: min-content;
    font-size: 3rem;

}
.itemTexto{

}
.itemTextoTitulo{
    font-size: x-large;
}
.itemTextoDescricao{
    
}
.itemListaObservacao{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: small;
}

@media (max-width: 576px){
    .sideLeft{
        width: 100%;
        flex-shrink: 0;
        margin-right: 5%;
        margin-bottom: 2rem;
    }
    .sideRight{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        border: none;
    }
}