.headerArticle{
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#depressaoHeader{
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),url('../images/depressao-min.jpg');
    background-position-y: 60%;
    background-position-x: 60%;
}
#tccHeader{
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),url('../images/conversation-min.jpg');
    background-position-y: 20%;
    background-position-x: 60%;
}
#orentacaoProf{
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),url('../images/bifurcacao-min.jpg');
    background-position-y: 75%;
}
#emConstrucao{
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),url('../images/emConstrucao-min.jpg');
}
.headerbackground{
    width: 90%;
    height: 80%;
    background-size: cover;
    background-position-x: 40%;
    background-position-y: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color: white;
    text-align: center;
}

.headerMainTitle{
    margin: 1.5rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.2rem;
}
.headerSubtitle{
    font-family: 'Playfair Display', serif;
}
.articleDivider{
    margin: 1rem 0;
    width: 90%;
    margin-left: 5%;
    height: 3px;
    background-color: rgba(117, 117, 117, 1);
}
.mainArticle{
    margin: 1rem 0;
}
.part2Colums{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.sideLeft{
    width: 50%;
    height: max-content;
    padding-left: 5%;
    padding-right: 3px;
}
.sideRight{
    width: 50%;
    height: max-content;
    padding-right: 5%;
    padding-left: 1%;
    border-left: 3px solid rgba(117, 117, 117, 1);
}
.smallText{
    font-size: 10px;
    line-height: 5px;
}
.partList{
    width: 90%;
    margin-left: 5%;
    margin-top: 1rem;
}
.partListTitle{
    font-size: 300%;
    margin-left: 1rem;
}
.itemLista{
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}
.itemNumero{
    padding: 0 1rem;
    height: min-content;
    font-size: 3rem;

}
.itemTexto{

}
.itemTextoTitulo{
    font-size: x-large;
}
.itemTextoDescricao{
    
}
.itemListaObservacao{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: small;
}
.articleTextImg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem 0;
}
.articleText1{
    width: 50%;
    padding-left: 5%;
    padding-right: 1%;
}
.articleText2{
    width: 50%;
    padding-left: 1%;
    padding-right: 5%;
}
.articleImgDiv2{
    width: 50%;
    padding-left: 1%;
}
.articleImgDiv1{
    width: 50%;
    padding-right: 1%;
}
.articleImg2{
    width: 89%;
    margin-left: 1%;
    height: 100%;
    background-image: url('../images/conversation-min.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
}
.articleImg1{
    width: 90%;
    margin-left: 10%;
    height: 100%;
    background-image: url('../images/orietacaoProf2-min-min.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
}


.cta-div{
    padding: 1.5rem 1rem;
    background-color: rgb(218, 218, 250);
    color: white;
    
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.075rem;
}
.cta-content-div{
    background-color: rgb(1, 1, 78);

}
.cta-content{
    padding: 2rem;
}
.cta{
    min-height: 50%;

}
.cta > h2 + h5{
    margin: 1rem 0;
}
.cta-contatos{
    display: flex;
    flex-wrap: wrap;
}
.cta-contato-item{
    display: flex;
    flex-direction: column;
    margin: 0 0.3rem;
}
.cta-contato-item > span {
    margin: 0.5rem 0;
}
.cta-btn{
    margin: 0.5rem;
    margin-left: 0;
    flex-shrink: 0;
}

@media (max-width: 768px){
    .articleText1{
        width: 100%;
        flex-shrink: 0;
        padding: 0 5%;
    }
    .articleImgDiv2{
        width: 90%;
        margin-left: 5%;
        height: 12rem;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
    }
    .articleImg2{
        width: 100%;
        margin: 0;
    }
    .invertOrderMobile{
        flex-direction: column-reverse;
    }
    
    .articleText2{
        width: 90%;
        margin-left: 5%;
        flex-shrink: 0;
    }
    .articleImgDiv1{
        width: 90%;
        margin-left: 5%;
        flex-shrink: 0;
        height: 12rem;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .articleImg1{
        width: 100%;
        margin: 0;
    } 
}

@media (max-width: 576px){
    .cta-contato-item{
        margin: 0;
    }
    .sideLeft{
        width: 100%;
        flex-shrink: 0;
        margin-right: 5%;
        margin-bottom: 2rem;
    }
    .sideRight{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        border: none;
    }
    .articleText1{
        width: 100%;
        flex-shrink: 0;
        padding: 0 5%;
    }
    .articleImgDiv2{
        width: 90%;
        margin-left: 5%;
        height: 12rem;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
    }
    .articleImg2{
        width: 100%;
        margin: 0;
    }
    .invertOrderMobile{
        flex-direction: column-reverse;
    }
    
    .articleText2{
        width: 90%;
        margin-left: 5%;
        flex-shrink: 0;
    }
    .articleImgDiv1{
        width: 90%;
        margin-left: 5%;
        flex-shrink: 0;
        height: 12rem;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .articleImg1{
        width: 100%;
        margin: 0;
    }
}