.contatosDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding: 1rem 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.contatosMapaDiv{
    width: 45%;
    margin-left: 5%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.contatosContatosDiv{
    width: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 3% 0;
    padding-left: 10%;
}
.contatosMapa{
    width: 80%;
    height: 60%;
    background-image: url('../images/mapa-400px.jpeg');
    background-size: cover;
}
.contatosMapaText{
    align-self: flex-start;
    margin-left: 20%;
}
.contatoTextCentral{
    text-align: center;
}

.contatosItem > h3{
    font-size: 170%;
}

.contatosItem > a{
    text-decoration: none;
    background-color: #2c3265;
    color: white;
    padding: 5px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.contatoshover:hover{
    color: white;
    /* position: fixed;
    height: max-content;
    transform: translate(0px, -10%);
    transition: 1s; */
}

@media (max-width: 768px){
    .contatosMapaDiv{
        width: 100%;
        flex-shrink: 0;
        padding: 0;
        margin: 0;
        align-items: center;
    }
    .contatosMapaText{
        align-self: flex-start;
        margin-left: 10%;
    }
    .contatosContatosDiv{
        width: 100%;
        align-items: center;
        text-align: center;
        height: 30rem;
    }
}