.u-block-96dd-2 {
    position: absolute;
    bottom: 10px;
  }
  
  .u-block-96dd-3 {
    position: absolute;
    left: 0;
  }
  
  .u-block-96dd-4 {
    position: absolute;
    right: 0;
  }
  
   .u-section-1-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/IMG_2996.JPG");
    background-position: 50% 50%;
  }
  
  .u-section-1-1 .u-sheet-1 {
    min-height: 800px;
  }
  
  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    margin: 330px auto 0;
  }
  
  .u-section-1-1 .u-text-2 {
    width: 837px;
    margin: 30px auto 60px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1-1 .u-sheet-1 {
      min-height: 660px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1-1 .u-sheet-1 {
      min-height: 506px;
    }
  
    .u-section-1-1 .u-text-2 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1-1 .u-sheet-1 {
      min-height: 380px;
    }
  
    .u-section-1-1 .u-text-2 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1-1 .u-sheet-1 {
      min-height: 239px;
    }
  
    .u-section-1-1 .u-text-2 {
      width: 340px;
    }
  }
  
  .u-section-1-2 .u-sheet-1 {
    min-height: 800px;
  }
  
  .u-section-1-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .u-section-1-2 .u-layout-cell-1 {
    min-height: 680px;
  }
  
  .u-section-1-2 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1-2 .u-text-1 {
    margin: 183px 0 0;
  }
  
  .u-section-1-2 .u-text-2 {
    font-weight: 400;
    margin: 53px 0 0;
  }
  
  .u-section-1-2 .u-image-1 {
    min-height: 680px;
    background-image: url("../images/IMG_3008.JPG");
  }
  
  .u-section-1-2 .u-container-layout-2 {
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1-2 .u-sheet-1 {
      min-height: 730px;
    }
  
    .u-section-1-2 .u-layout-wrap-1 {
      position: relative;
    }
  
    .u-section-1-2 .u-layout-cell-1 {
      min-height: 561px;
    }
  
    .u-section-1-2 .u-image-1 {
      min-height: 561px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1-2 .u-sheet-1 {
      min-height: 653px;
    }
  
    .u-section-1-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1-2 .u-image-1 {
      min-height: 430px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1-2 .u-sheet-1 {
      min-height: 1160px;
    }
  
    .u-section-1-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1-2 .u-image-1 {
      min-height: 645px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1-2 .u-sheet-1 {
      min-height: 878px;
    }
  
    .u-section-1-2 .u-image-1 {
      min-height: 406px;
    }
  }