.sobreMim{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5rem 0;
}
.sobreMimImgDiv{
    width: 35%;
    margin-left: 15%;

}
.sobreMimTextDiv{
    width: 35%;
    margin-right: 15%;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.sobreMimImg{
    width: 100%;
    height: 100%;
    background-image: url('../images/sobremim.jpg');
    background-size: cover;
    background-position-x: 75%;
    background-position-y: 50%;

}
.sobreMimTextTitle{
    margin: 1rem 1rem;
}
.sobreMimTextItem{
    margin: 1rem 1rem;
}

@media (min-width: 768px) and (max-width: 992px){
    .sobreMimImg{
        height: 20rem;
        margin-top: 10%;
    }
}

@media (max-width: 768px){
    .sobreMimImgDiv{
        width: 70%;
        border: red solid green;
    }
    .sobreMimTextDiv{
        width: 90%;
        margin: 0 5%;
    
    }
    .sobreMimImg{
        width: 100%;
        height: 20rem;
        background-image: url('../images/sobremim.jpg');
        background-size: cover;
        background-position-x: 75%;
        background-position-y: 50%;
        
        border: red solid green;
    }
}
