.notFound{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  
}
.main{
  
}
.carousel-itens{
  height: 130vh;
  background-color: black;
}
/* Carousel item 1 - Primeiro item: Apresentação */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes title-gon-down {
  from {transform: translateY(-100px);}
  to {transform: translateY(0);}
}
.carousel-item-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/IMG_2996.jpg');
    background-size: cover;
    background-position-y: center;
    height: 130vh;
    font-family: 'Playfair Display', serif;
    animation: fadein ease-in-out 2s;
}
.carousel-item-1-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  animation: title-gon-down 1.75s;
}
.carousel-item-1-content-1{
  color: white;
  font-weight: 400;
  font-size: 2.25rem;
  text-align: center;
}
.carousel-item-1-content-2{
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  font-family: Arial, sans-serif !important;
}
/* Carousel item 2 - O que esperar da seção */
.carousel-item-2{
  background-color: white;
  height: 130vh;
}

.carousel-item-2-content{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 130vh;
}
@keyframes txt-down-up {
  from {margin-top: 200px; opacity: 0;}
  to {margin-top: 0; opacity: 1;}
}
.carousel-item-2-content-1{
  text-align: center;
  width: 30%;
  margin-left: 20%;
  padding-right: 1%;
  animation: txt-down-up 2s ease-in-out;
}
.carousel-item-2-content-1-1{
  color: #f84545;
  font-weight: 600;
}
.carousel-item-2-content-1-2{
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 1.07rem;
}
.carousel-item-2-content-2{
  width: 30%;
  margin-right: 20%;
  height: 25rem;
}
@keyframes img-top-down {
  from {height: 0; opacity: 0;}
  to {height: 100%; opacity: 1;}
}
.carousel-item-2-content-2-1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/IMG_3008-min.JPG');
  background-size: cover;
  background-position-y:center;
  background-position-x: center;
  height:100%;
  animation: img-top-down 2s;
}
/* Carousel item 3 - Formação Academica */
.carousel-item-3{
  /* background-image: linear-gradient(rgb(14, 14, 75), rgba(25, 25, 112, 1)); */
  font-family: 'Playfair Display', serif;
  background-color: white;
}
.carousel-item-3-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 130vh;
}
@keyframes img-top-down {
  from {margin-top: -100px; opacity: 0;}
  to {margin-top: 0; opacity: 1;}
}
.carousel-item-3-content-1{
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../images/IMG_3015-min.JPG');
  height: 30rem;
  margin-left: 10%;
  width: 40%;
  animation: img-top-down 2s;
  /* box-shadow: 0px 0px 10px black; */
}
@keyframes tranparente {
  from {opacity: 0;}
  to {opacity: 0;}
}
.carousel-item-3-content-2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 10%;
  width: 40%;
  animation: tranparente 1s, img-top-down 2s 1s;
}
.carousel-item-3-content-2-0{
  flex: 1 0 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
}
.tituloFonteMaior{
  font-weight: 500;
  font-size: 1.125rem;
}
.carousel-item-3-content-2-1{
  min-height: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.25);
  border: rgb(107, 107, 107) inset 5px;
  flex: 1 0 55%;
}
.carousel-item-3-content-2-2{
  min-height: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.25);
  border: rgb(107, 107, 107) inset 5px;
  flex: 1 0 55%;
}
.carousel-item-3-content-2-3{
  min-height: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.25);
  border: rgb(107, 107, 107) inset 5px;   
  flex: 1 0 55%;
}
@keyframes up-down {
  from { margin-top: 130vh;}
  to   { margin-top: 0;}
}
@keyframes opacity {
  from { opacity: 0;}
  to   { opacity: 1;}
}
.carousel-item-4{
  background-color: black;
}
.carousel-item-4{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/depressao-min.jpg');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  height: 130vh;
  font-family: 'Playfair Display', serif;
  animation: opacity 4s;
}
.carousel-item-4-content, .carousel-item-5-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 130vh;
  padding: 0 5rem;
  width: 60%;
  /* animation: down-up 3s; */
}
.carousel-item-4-content-1{
  color: black;
}
@keyframes down-up {
  from { margin-top: -130vh; }
  to   { margin-top: 0; }
}
@keyframes go-back {
  from {opacity: 0; background-position-y: top; margin-top: 65vh;}
  to {opacity: 1; background-position-y: bottom; margin-top: 0;}
}
.carousel-item-5{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/orientacaoProf-min.jpg');
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  height: 130vh;
  font-family: 'Playfair Display', serif;
  animation: go-back 2.5s;
}
.carousel-item-5-content-1{
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
  padding: 1rem;
  animation: opacity 2s;
}

.carousel-item-6{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/IMG_3023-min.JPG');
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  height: 130vh;
  font-family: 'Playfair Display', serif;
}

.carousel-item-6-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:end;
  padding-bottom: 12.5%;
  color: white;
}
@keyframes txt-d-u{
  from{position: relative; top: 50px; opacity: 0;}
  to{position: relative; top: 0; opacity: 1;}
}
.carousel-6-content-1{
    animation: txt-d-u 2s;
}
@keyframes txt-depois{
  from{position: relative; top: 50px; opacity: 0;}
  to{position: relative; top: 0; opacity: 1;}
}
.carousel-6-content-2{
  justify-self:end;
  animation: tranparente 2s, txt-depois 3s;
}

/* Footer */

.footer-content{
  font-size: 0.87em;
  color: rgb(105, 105, 105);
  --bs-bg-opacity: 1;
  padding: 1rem !important;
  text-align: center !important;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
.footer-content > a {
  text-decoration: none;
  color: rgb(105, 105, 105);
}
.footer-content > a:hover {
  text-decoration: none;
  color: rgb(150, 148, 148);
}

.article-section-text-img{
  display: flex;
  padding: 3rem 0;
  flex-wrap: wrap;
}

.a-s-t-i-text{
  margin-left: 5%;
  width: 45%;
  padding-right: 1%;
}

.a-s-t-i-img{
  margin-right: 5%;
  width: 45%;
  display: flex;
  align-items: center;
}

#tcc1-img{
  background-image: url('../images/tcc1-min.jpg');
  background-position-y: 50%;
  background-position-x: 50%;
  min-height: 10rem;
  max-height: 25rem;
}

.a-s-t-i-img-img{
  background-size: cover;
  background-position-y: 50%;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px){
  .article-section-text-img{
      padding: 2rem 10%;
      flex-direction: column-reverse;
  }
  .a-s-t-i-text{
      width: 100%;
      margin: 0;
  }
  .a-s-t-i-img{
      width: 100%;
      margin: 0;
      height: 30rem;
  }
  
  #familia-img{
      background-position-x: 50%;
  }
}

/* ------------ ARTICLE-IMG-TEXT ------------ */
.article-section-img-text{
  padding: 3rem 0;
  display: flex;
}

.a-s-i-t-img{
  margin-left: 5%;
  width: 45%;
  display: flex;
  align-items: center;
  padding-right: 1%;
}

#tcc2-img{
  background-image: url('../images/tcc2-min.jpg');
  background-position-x: 90%;
}

.a-s-i-t-img-img{
  background-size: cover;
  height: 80%;
  width: 100%;
}

.a-s-i-t-text{
  margin-right: 5%;
  width: 45%;
  padding-left: 1%;
}
.whatsapp-button > svg{
  height: 2.5rem;
  width: 2.5rem;
  color: rgb(114, 165, 212);
}



.cta-div{
  padding: 1.5rem 1rem;
  background-color: rgb(218, 218, 250);
  color: white;
  
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.075rem;
}
.cta-content-div{
  background-color: rgb(1, 1, 78);

}
.cta-content{
  padding: 2rem;
}
.cta{
  min-height: 50%;

}
.cta > h2 + h5{
  margin: 1rem 0;
}
.cta-contatos{
  display: flex;
  flex-wrap: wrap;
}
.cta-contato-item{
  display: flex;
  flex-direction: column;
  margin: 0 0.3rem;
}
.cta-contato-item > span {
  margin: 0.5rem 0;
}
.cta-btn{
  margin: 0.5rem;
  margin-left: 0;
  flex-shrink: 0;
}

@media (max-width: 768px){
  .article-section-img-text{
      padding: 2rem 10%;
      flex-direction: column;
  }
  .a-s-i-t-text{
      width: 100%;
      margin: 0;
  }
  .a-s-i-t-img{
      width: 100%;
      margin: 0;
      height: 30rem;
  }
  #crianca-img{
      background-position-x: 75%;
  }
  #casal-img{
      background-position-x: 100%;
  }
  #biomagnetismo-como-img{
      background-position-x: 60%;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .carousel-item-1{
    background-position-x: 60%;
  }
  .carousel-item-2-content-1{
    width: 40%;
    margin-left: 10%;
  }
  .carousel-item-2-content-2{
    width: 40%;
    margin-right: 10%;
  }
  .carousel-item-4-content, .carousel-item-5-content{
    width: 70%;
  }
  .carousel-item-5{
    background-position-y: bottom;
    background-position-x: center;
  }
  .carousel-item-6-content{
    height: 100%;
    margin: 0 10%;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .carousel-item-1{
    background-position-x: 60%;
  }
  .carousel-item-2-content{
    flex-direction: column-reverse;
  }
  .carousel-item-2-content-1{
    width: 80%;
    margin: 0 10%;
    padding-right: 0;
    padding-top: 1%;
  }
  .carousel-item-2-content-2{
    width: 80%;
    margin: 0 10%;
    padding-right: 0;
    height: 22.5rem;
  }
  .carousel-item-2-content-2-1{
    background-position-y: 40%;
  }
  .carousel-item-3-content-1{
    margin: 0 20%;
    width: 60%;
    height: 20rem;
    /* box-shadow: 0px 0px 10px black; */
  }
  .carousel-item-3-content-2{
    margin: 0 10%;
    width: 80%;
  }
  .carousel-item-3-content-2-1{
    min-height: 4rem;
    border-radius: 0;
  }
  .carousel-item-3-content-2-2{
    min-height: 4rem;
    border-radius: 0;
  }
  .carousel-item-3-content-2-3{
    min-height: 4rem;
    border-radius: 0;
  }
  .carousel-item-4-content, .carousel-item-5-content{
    width: 100%;
  }
  .carousel-item-5{
    background-position-y: bottom;
    background-position-x: center;
  }
  .carousel-item-6{
    background-position-y: bottom;
    background-position-x: 60%;
  }
  .carousel-item-6-content{
    height: 100%;
    margin: 0 10%;
  }
}

@media (max-width: 576px){


  .carousel-itens{
    height: 110vh;
  }
  .carousel-item-1{
    background-size: cover;
    background-position-x: 60%;
  }
  .carousel-item-1-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .carousel-item-2-content{
    flex-direction: column-reverse;
    height: 80%;
  }
  .carousel-item-2-content-1{
    width: 80%;
    margin: 0 10%;
    padding-right: 0;
    padding-top: 5%;
  }
  .carousel-item-2-content-2{
    width: 60%;
    margin: 0 20%;
    padding-right: 0;
    height: 15rem;
  }
  .carousel-item-2-content-2-1{
    background-position-y: 40%;
  }
  .carousel-item-3-content{
    height: 100vh;
  }
  .carousel-item-3-content-1{
    margin: 0 20%;
    width: 60%;
    height: 10rem;
    /* box-shadow: 0px 0px 10px black; */
  }
  .carousel-item-3-content-2{
    margin: 0 10%;
    width: 80%;
  }
  .mobileShadow:hover {
    transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;
    transform:
      translate3d(-5px, -10px, 0px);
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }
  .carousel-item-3-content-2-1{
    min-height: 4rem;
    border-radius: 0;
    flex: 0 0 100%;
    width: 90vw;
    box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    5px 8px 23px 0 rgba(34, 33, 81, 0.25);
  }
  .carousel-item-3-content-2-2{
    min-height: 4rem;
    border-radius: 0;
    flex: 0 0 100%;
    width: 90vw;
    box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    5px 8px 23px 0 rgba(34, 33, 81, 0.25);
  }
  .carousel-item-3-content-2-3{
    min-height: 4rem;
    border-radius: 0;
    flex: 0 0 100%;
    width: 90vw;
    box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    5px 8px 23px 0 rgba(34, 33, 81, 0.25);
  }
  .carousel-item-4-content, .carousel-item-5-content{
    height: 85%;
    width: 85%;
    padding: 0;
    margin: 0 7.5%;
  }
  .carousel-item-5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/orientacaoProf_Mobile-min-min.jpg');
    background-size: fit-content;
    background-position-y: bottom;
    background-position-x: center;
  }.hideMobile{
    display: none;
  }
  .carousel-item-6{
    background-position-y: bottom;
    background-position-x: 60%;
  }
  .carousel-item-6-content{
    height: 80%;
    margin: 0 10%;
  }
}

@media (max-width: 330px){
  .carousel-item-2-content-2-1{
    display: none;
  }
}
