.notFound{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  
}
.main{
  
}
.carousel-itens{
  height: 130vh;
}
/* Carousel item 1 - Primeiro item: Apresentação */
.carousel-item-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/IMG_2996.jpg');
    background-size: cover;
    background-position-y: center;
    height: 130vh;
    font-family: 'Playfair Display', serif;
  }
.carousel-item-1-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.carousel-item-1-content-1{
  color: white;
  font-weight: 400;
  font-size: 2.25rem;
  text-align: center;
}
.carousel-item-1-content-2{
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  font-family: Arial, sans-serif !important;
}
/* Carousel item 2 - O que esperar da seção */
.carousel-item-2{
  background-color: white;
  height: 130vh;
}

.carousel-item-2-content{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 130vh;
}

.carousel-item-2-content-1{
  text-align: center;
  width: 30%;
  margin-left: 20%;
  padding-right: 1%;
}
.carousel-item-2-content-1-1{
  color: #f84545;
  font-weight: 600;
}
.carousel-item-2-content-1-2{
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}
.carousel-item-2-content-2{
  width: 30%;
  margin-right: 20%;
  height: 25rem;
}
.carousel-item-2-content-2-1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/IMG_3008-min.JPG');
  background-size: cover;
  background-position-y:center;
  background-position-x: center;
  height:100%;
}
/* Carousel item 3 - Formação Academica */
.carousel-item-3{
  /* background-image: linear-gradient(rgb(14, 14, 75), rgba(25, 25, 112, 1)); */
  font-family: 'Playfair Display', serif;
}
.carousel-item-3-content{
padding: 9rem 5rem;
}
.carousel-item-3-content-1{
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../images/IMG_3015-min.JPG');
  height: 30rem;
  /* box-shadow: 0px 0px 10px black; */
}
.carousel-item-3-content-2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.carousel-item-3-content-2-0{
  flex: 1 0 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
}
.tituloFonteMaior{
  font-weight: 500;
  font-size: 1.125rem;
}
.carousel-item-3-content-2-1{
  min-height: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.25);
  border: rgb(107, 107, 107) inset 5px;
  flex: 1 0 55%;
}
.carousel-item-3-content-2-2{
  min-height: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.25);
  border: rgb(107, 107, 107) inset 5px;
  flex: 1 0 55%;
}
.carousel-item-3-content-2-3{
  min-height: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.25);
  border: rgb(107, 107, 107) inset 5px;   
  flex: 1 0 55%;
}
.carousel-item-4{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/depressao-min.jpg');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  height: 130vh;
  font-family: 'Playfair Display', serif;
}
.carousel-item-4-content, .carousel-item-5-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 130vh;
  padding: 0 5rem;
}
.carousel-item-4-content-1{
  color: black;
}
.carousel-item-5{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/orientacaoProf-min.jpg');
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  height: 130vh;
  font-family: 'Playfair Display', serif;
}
.carousel-item-5-content-1{
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
  padding: 1rem;
}

.carousel-item-6{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/IMG_3023-min.JPG');
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  height: 130vh;
  font-family: 'Playfair Display', serif;
}

.carousel-item-6-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:end;
  padding-bottom: 12.5%;
  color: white;
}

.carousel-6-content-2{
  justify-self:end;
}

/* Footer */

.footer-content{
  font-size: 0.87em;
  color: rgb(105, 105, 105);
}
.footer-content > a {
  text-decoration: none;
  color: rgb(105, 105, 105);
}
.footer-content > a:hover {
  text-decoration: none;
  color: rgb(150, 148, 148);
}

.article-section-text-img{
  display: flex;
  padding: 3rem 0;
  flex-wrap: wrap;
}

.a-s-t-i-text{
  margin-left: 5%;
  width: 45%;
  padding-right: 1%;
}

.a-s-t-i-img{
  margin-right: 5%;
  width: 45%;
  display: flex;
  align-items: center;
}

#tcc1-img{
  background-image: url('../images/tcc1-min.jpg');
  background-position-y: 50%;
  background-position-x: 50%;
  min-height: 10rem;
  max-height: 25rem;
}

.a-s-t-i-img-img{
  background-size: cover;
  background-position-y: 50%;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px){
  .article-section-text-img{
      padding: 2rem 10%;
      flex-direction: column-reverse;
  }
  .a-s-t-i-text{
      width: 100%;
      margin: 0;
  }
  .a-s-t-i-img{
      width: 100%;
      margin: 0;
      height: 30rem;
  }
  
  #familia-img{
      background-position-x: 50%;
  }
}

/* ------------ ARTICLE-IMG-TEXT ------------ */
.article-section-img-text{
  padding: 3rem 0;
  display: flex;
}

.a-s-i-t-img{
  margin-left: 5%;
  width: 45%;
  display: flex;
  align-items: center;
  padding-right: 1%;
}

#tcc2-img{
  background-image: url('../images/tcc2-min.jpg');
  background-position-x: 90%;
}

.a-s-i-t-img-img{
  background-size: cover;
  height: 80%;
  width: 100%;
}

.a-s-i-t-text{
  margin-right: 5%;
  width: 45%;
  padding-left: 1%;
}
.whatsapp-button > svg{
  height: 2.5rem;
  width: 2.5rem;
  color: rgb(114, 165, 212);
}

@media (max-width: 768px){
  .article-section-img-text{
      padding: 2rem 10%;
      flex-direction: column;
  }
  .a-s-i-t-text{
      width: 100%;
      margin: 0;
  }
  .a-s-i-t-img{
      width: 100%;
      margin: 0;
      height: 30rem;
  }
  #crianca-img{
      background-position-x: 75%;
  }
  #casal-img{
      background-position-x: 100%;
  }
  #biomagnetismo-como-img{
      background-position-x: 60%;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .carousel-item-1{
    background-position-x: 60%;
  }
  .carousel-item-2-content-1{
    width: 40%;
    margin-left: 10%;
  }
  .carousel-item-2-content-2{
    width: 40%;
    margin-right: 10%;
  }
  .carousel-item-5{
    background-position-y: bottom;
    background-position-x: center;
  }
  .carousel-item-6-content{
    height: 100%;
    margin: 0 10%;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .carousel-item-1{
    background-position-x: 60%;
  }
  .carousel-item-2-content{
    flex-direction: column-reverse;
  }
  .carousel-item-2-content-1{
    width: 80%;
    margin: 0 10%;
    padding-right: 0;
    padding-top: 1%;
  }
  .carousel-item-2-content-2{
    width: 80%;
    margin: 0 10%;
    padding-right: 0;
    height: 22.5rem;
  }
  .carousel-item-2-content-2-1{
    background-position-y: 40%;
  }
  .carousel-item-3-content-1{
    height: 45vh;
    position: relative;
    top: -15vh;
  }
  .carousel-item-3-content-2{
    position: relative;
    top: -10vh;
    min-height: fit-content;
  }
  .carousel-item-3-content-2-1{
    min-height: 4rem;
    border-radius: 0;
  }
  .carousel-item-3-content-2-2{
    min-height: 4rem;
    border-radius: 0;
  }
  .carousel-item-3-content-2-3{
    min-height: 4rem;
    border-radius: 0;
  }
  .carousel-item-5{
    background-position-y: bottom;
    background-position-x: center;
  }
  .carousel-item-6{
    background-position-y: bottom;
    background-position-x: 60%;
  }
  .carousel-item-6-content{
    height: 100%;
    margin: 0 10%;
  }
}

@media (max-width: 576px){


  .carousel-itens{
    height: 110vh;
  }
  .carousel-item-1{
    background-size: cover;
    background-position-x: 60%;
  }
  .carousel-item-1-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .carousel-item-2-content{
    flex-direction: column-reverse;
    height: 80%;
  }
  .carousel-item-2-content-1{
    width: 80%;
    margin: 0 10%;
    padding-right: 0;
    padding-top: 5%;
  }
  .carousel-item-2-content-2{
    width: 60%;
    margin: 0 20%;
    padding-right: 0;
    height: 15rem;
  }
  .carousel-item-2-content-2-1{
    background-position-y: 40%;
  }
  .carousel-item-3-content-1{
    height: 27.5vh;
    position: relative;
    top: -15vh;
  }
  .carousel-item-3-content-2{
    position: relative;
    top: -15vh;
    min-height: fit-content;
  }
  .mobileShadow:hover {
    transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;
    transform:
      translate3d(-5px, -10px, 0px);
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }
  .carousel-item-3-content-2-1{
    min-height: 4rem;
    border-radius: 0;
    flex: 0 0 100%;
    width: 90vw;
    box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    5px 8px 23px 0 rgba(34, 33, 81, 0.25);
  }
  .carousel-item-3-content-2-2{
    min-height: 4rem;
    border-radius: 0;
    flex: 0 0 100%;
    width: 90vw;
    box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    5px 8px 23px 0 rgba(34, 33, 81, 0.25);
  }
  .carousel-item-3-content-2-3{
    min-height: 4rem;
    border-radius: 0;
    flex: 0 0 100%;
    width: 90vw;
    box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    5px 8px 23px 0 rgba(34, 33, 81, 0.25);
  }
  .carousel-item-4-content, .carousel-item-5-content{
    height: 85%;
    width: 85%;
    padding: 0;
    margin: 0 7.5%;
  }
  .carousel-item-5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/orientacaoProf_Mobile-min-min.jpg');
    background-size: fit-content;
    background-position-y: bottom;
    background-position-x: center;
  }.hideMobile{
    display: none;
  }
  .carousel-item-6{
    background-position-y: bottom;
    background-position-x: 60%;
  }
  .carousel-item-6-content{
    height: 80%;
    margin: 0 10%;
  }
}

@media (max-width: 330px){
  .carousel-item-2-content-2-1{
    display: none;
  }
}

/* 
@mixin transition-all {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.persolizedBorder{
  border-style: solid inset inset solid;
  border-width: 1px 4px 6px 1px;
  border-color: black grey black black;
  background-color:#f4f5f6;
  box-shadow:  -6px -20px 35px #ffffff, -6px -10px 15px #ffffff, -20px 0px 30px #ffffff, 6px 20px 25px rgba(0,0,0,0.2);
  transform:translate3d(0px, 0px, 5px);

  transform:
    scale(0.75)
    rotateY(-30deg)
    rotateX(45deg)
    translateZ(4.5rem);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.25);
  transition: 0.6s ease transform;
}
.persolizedBorder:hover {
  transform: scale(1);
}

.persolizedBorder::before {
  transform: translateZ(4rem);
}

.persolizedBorder::after {
  transform: translateZ(-4rem);
}
 */