.carousel-itens{
  height: 130vh;
  background-color: black;
}
.carousel-item-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/IMG_2996.JPG');
    background-size: cover;
    background-position-y: center;
    height: 130vh;
    font-family: 'Playfair Display', serif;
  }
.carousel-item-1-content{
  position: relative;
  top: 57%;
  transform: translateY(-50%); 
}
.carousel-item-1-content-1{
  color: white;
  font-weight: 400;
  font-size: 2.25rem;
}
.carousel-item-1-content-2{
  font-size: 1.25rem;
  font-family: Arial, sans-serif !important;
  padding-top: 20px;
}
.carousel-item-2{
  background-color: white;
  height: 130vh;
}
.carousel-item-2-content-1{
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  text-align: center;
  width: 10px;
}
.carousel-item-2-content-1-1{
  padding-top: 0;
}
.carousel-item-2-content-1-2{
  font-family: 'Playfair Display', serif;
}
.carousel-item-2-content-2{
  margin-left: 50%;
  position: relative;
  top: -20vh;
}
.carousel-item-2-content-2-1{
  height: 100vh;
  object-fit: cover;
}

.footer-content{
  font-size: 0.87em;
}

@media (min-width: 768px) and (max-width: 992px){
  .carousel-item-2-content-2{
    margin-left: 50%;
    position: relative;
    top: -15vh;
  }
  .carousel-item-2-content-2-1{
    height: 60vh;
    object-fit: cover;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .carousel-item-2-content-1{
    margin-top: 30vh;
    margin-left: 1rem;
  }
  .carousel-item-2-content-2{
    margin-left: auto;
    position: relative;
    top: -85vh;
    padding-top: 25vh;
  }
  .carousel-item-2-content-2-1{
    height: 60vh;
    object-fit: cover;
  }
}

@media (max-width: 576px){
  .carousel-itens{
    height: 110vh;
  }
  .carousel-item-1{
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    opacity:  0.7;
  }
  .carousel-item-1-content{
    font-size: 2.25rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
  }
  .carousel-item-2-content-1{
    padding-top: 30vh;
  }
  .carousel-item-2-content-2{
    margin-left: auto;
    position: relative;
    top: -75vh;
  }
  .carousel-item-2-content-2-1{
    height: 40vh;
    object-fit: cover;
  }
}