.carousel-itens{
  height: 130vh;
}
/* Carousel item 1 - Primeiro item: Apresentação */
.carousel-item-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/IMG_2996.JPG');
    background-size: cover;
    background-position-y: center;
    height: 130vh;
    font-family: 'Playfair Display', serif;
  }
.carousel-item-1-content{
  position: relative;
  top: 57%;
  transform: translateY(-50%);
}
.carousel-item-1-content-1{
  color: white;
  font-weight: 400;
  font-size: 2.25rem;
}
.carousel-item-1-content-2{
  font-size: 1.25rem;
  font-family: Arial, sans-serif !important;
  padding-top: 20px;
}
/* Carousel item 2 - O que esperar da seção */
.carousel-item-2{
  background-color: white;
  height: 130vh;
}
.carousel-item-2-content-1{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 10px;
}
.carousel-item-2-content-1-1{
  padding-top: 0;
}
.carousel-item-2-content-1-2{
  font-family: 'Playfair Display', serif;
}
.carousel-item-2-content-2{
  margin-left: 50%;
  position: relative;
  top: -20vh;
}
.carousel-item-2-content-2-1{
  height: 100vh;
  object-fit: cover;
}
/* Carousel item 3 - Formação Academica */
.carousel-item-3{
  /* background-image: linear-gradient(rgb(14, 14, 75), rgba(25, 25, 112, 1)); */
  font-family: 'Playfair Display', serif;
}
.carousel-item-3-content{
padding: 9rem 5rem;
}
.carousel-item-3-content-1{
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../images/IMG_3015.JPG');
  border-radius: 5% /7%;
  height: 30rem;
  /* box-shadow: 0px 0px 10px black; */
}
.carousel-item-3-content-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.carousel-item-3-content-2-0{
  flex: 1 0 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
.carousel-item-3-content-2-1{
  min-height: 7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5% / 10%;
  margin: 2%;
  box-shadow: 0px 0px 5px rgb(107, 107, 107);
  flex: 1 0 45%;
}
.carousel-item-3-content-2-2{
  min-height: 7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5% / 10%;
  margin: 2%;
  box-shadow: 0px 0px 5px rgb(107, 107, 107);
  flex: 1 0 45%;
}
.carousel-item-3-content-2-3{
  min-height: 7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5% / 10%;
  margin: 2%;
  box-shadow: 0px 0px 5px rgb(107, 107, 107);
  flex: 1 0 45%;
}
.carousel-item-3-content-2-4{
  min-height: 7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5% / 10%;
  margin: 2%;
  box-shadow: 0px 0px 5px rgb(107, 107, 107);
  flex: 1 0 45%;
}
.carousel-item-4{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/depressao.jpg');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  height: 130vh;
  font-family: 'Playfair Display', serif;
}
.carousel-item-4-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 130vh;
  padding: 10rem 5rem;
  color: black;
}
.carousel-item-4-content{
  flex: 1 0 100%;
}
/* Footer */
.footer-content{
  font-size: 0.87em;
}

@media (min-width: 768px) and (max-width: 992px){
  .carousel-item-2-content-2{
    margin-left: 50%;
    position: relative;
    top: -15vh;
  }
  .carousel-item-2-content-2-1{
    height: 60vh;
    object-fit: cover;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .carousel-item-2-content-1{
    margin-top: 30vh;
    margin-left: 1rem;
  }
  .carousel-item-2-content-2{
    margin-left: auto;
    position: relative;
    top: -85vh;
    padding-top: 25vh;
  }
  .carousel-item-2-content-2-1{
    height: 60vh;
    object-fit: cover;
  }
  .carousel-item-3-content-1{
    height: 45vh;
    border-radius: 7% / 13%;
    position: relative;
    top: -15vh;
  }
  .carousel-item-3-content-2{
    position: relative;
    top: -10vh;
    min-height: fit-content;
  }
  .carousel-item-3-content-2-1{
    min-height: fit-content;
    border-radius: 0;
  }
  .carousel-item-3-content-2-2{
    min-height: fit-content;
    border-radius: 0;
  }
  .carousel-item-3-content-2-3{
    min-height: fit-content;
    border-radius: 0;
  }
  .carousel-item-3-content-2-4{
    min-height: fit-content;
    border-radius: 0;
  }
}

@media (max-width: 576px){
  .carousel-itens{
    height: 110vh;
  }
  .carousel-item-1{
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    opacity:  0.7;
  }
  .carousel-item-1-content{
    font-size: 2.25rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-item-2-content-1{
    padding-top: 30vh;
  }
  .carousel-item-2-content-2{
    margin-left: auto;
    position: relative;
    top: -75vh;
  }
  .carousel-item-2-content-2-1{
    height: 40vh;
    object-fit: cover;
  }
  .carousel-item-3-content-1{
    height: 27.5vh;
    border-radius: 7% / 13%;
    position: relative;
    top: -15vh;
  }
  .carousel-item-3-content-2{
    position: relative;
    top: -15vh;
    min-height: fit-content;
  }
  .carousel-item-3-content-2-1{
    min-height: fit-content;
    border-radius: 0;
    flex: 1 0 100%;
  }
  .carousel-item-3-content-2-2{
    min-height: fit-content;
    border-radius: 0;
    flex: 1 0 100%;
  }
  .carousel-item-3-content-2-3{
    min-height: fit-content;
    border-radius: 0;
    flex: 1 0 100%;
  }
  .carousel-item-3-content-2-4{
    min-height: fit-content;
    border-radius: 0;
    flex: 1 0 100%;
  }
}