<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <title>Página Inicial</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/article.css">
    <link rel="stylesheet" href="styles/sobreMim.css">
    <link rel="stylesheet" href="styles/contato.css">

    <link rel="stylesheet" href="styles/bootstrap.css">
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>

    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">


    <!-- Global site tag (gtag.js) - Google Ads: 10839921718 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10839921718"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-10839921718');
    </script>



    <meta name="theme-color" content="#478ac9">
</head>

<body class="u-body">
    <%- include('../partials/navbar') %>
        <main class="main">
            <%- body %>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>